@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  outline: 0ch;
}

body {
  background: url(./assets/images/backgrounds/Moon.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  color: #ffffff;
  background-color: #171717;
  font-family: "Poppins", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Balsamiq Sans";
}

/* Background image */
.custom-bg {
  background-image: url(./assets/images/backgrounds/shapes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Customize Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}

.myScrollbar::-webkit-scrollbar {
  width: 10px;
}

.myScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border: #666 1px solid;
  border-radius: 10px;
}

.myScrollbar::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 10px;
}

/* Navbar item active style */
.active {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
}

/* Media query */
@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
